body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 0.5rem;
}

div#site-title {
    color: white;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: black;
    background-color: white;
}